.greeting {
  background-color: aquamarine;
  padding: 50px;
}
.destructure {
  background-color: blue;
  color: aliceblue;
  padding: 50px;
}
.external {
  margin: 200px;
}
.module {
  margin: 100px;
}

.container {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  background-color: aqua;
  cursor: pointer;
}

.org-img {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  /* background-color: aqua; */
  cursor: pointer;
}
